@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Pacifico&display=swap");

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#fachada1 {
  width: 100%;
}

.principal {
  background: #cccccc;
}

.titulo-principal {
  font-family: "Pacifico", cursive;
  padding-left: 20px;
}

.titulo-centralizado {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: "Pacifico", cursive;
  padding-bottom: 80px;
}

.descricao-1 {
  color: black;
}
.item {
  font-style: italic;
}

.beneficios {
  background-color: #ffffff;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}
.imagem-beneficios {
  width: 50%;
}
