@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Pacifico&display=swap");

header {
  background: #bbbbbb;
  padding: 20px 0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 80px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: blue;
  text-decoration: underline;
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
}

.produtos li:hover {
  border-color: blue;
}

.produtos li:active {
  border-color: #c78c19;
}

.produtos li:hover h2 {
  font-size: 40px;
}
.produtos h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 40px 0;
}

.produto-descricao {
  font-size: 18px;
}

.produtos-destaque {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  text-align: center;
  background-color: #cccccc;
  padding: 40px 0;
}

.copyright {
  font-size: 13px;
  margin: 20px 0 0;
}

/* FORMULÁRIO INÍCIO */
main {
  width: 100%;
  padding: 80px 0;
  margin: 20px 0;
}
form {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  margin: 0 auto;
  width: 65%;
  box-shadow: 0 4px 8px #999;
  border-radius: 7px;
}
label {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campo-padrao {
  width: 100%;
}
form label,
legend {
  margin-bottom: 25px;
  margin-top: 25px;
  display: block;
  width: 100%;
  font-size: 15px; /* altera toda fonte */
  margin: 0 auto;
  color: #555;
  font-weight: 600;
}
legend{
  margin: 0 0 10px;
}
/* fieldset */
.contato {
  margin: 20px auto;
}



.campo-padrao,
textarea {
  width: 97%; /* defini largura dos input/textarea */
  padding: 5px 0;
  margin-bottom: 1em;
  margin-top: 0.5em;
  display: block;
  margin-right: 1em;
  font: 1em sans-serif;
  border: 1px solid #aaa;
  border-radius: 7px;
  padding-left: 10px;
}

.input-group {
  margin: 0 0 20px;
}

.newsletter {
  margin: 0 0 20px;
}

.botao {
  margin: 20px 0 0;
  width: 30%;
  padding: 10px 20px;
  font-size: 24px;
  display: inline-block;
  background: orange;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 1s;
}

.botao:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* fieldset */
.funcionamento {
  width: 940px;
  margin: 0 auto 40px;
}

.class-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}
.checkbox {
  margin: 20px 0;
}

/* TRANSIÇÃO DO HOVER */
.btns {
  display: flex;
  justify-content: left;
  align-items: center;
}
.button{
  border-style: none;
  height: 40px;
  padding: 10px 12px;
  /* background-color: black; */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 1s ease; /*configuração inicial de transição*/
  /* font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif; */
  text-transform: uppercase;
}
.button.blue {
  background-color: transparent;
  border-radius: 6px;
  color: #0067b8;
  width: 30%;
  height: 50px;
  border: 1px solid #0067b8;
  
}
.button:hover {
  box-shadow: inset 450px 0 0 #0067b8;
  color: #fff;
}

table {
  margin: 40px;
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
}

thead {
  background: #555;
  color: #fff;
  font-weight: bold;
}
th {
  background: #777777;
  color: #ffffff;
}
th:nth-child(1) {
  border-top-left-radius: 7px;
}
th:nth-child(2) {
  border-top-right-radius: 7px;
}
tr:nth-child(1) {
  background: #d9d9d9;
  border-radius: 7px;
}
tr:nth-child(2) {
  background: #f5f3f3;
}
tr:nth-child(3) {
  background: #d9d9d9;
}

td {
  border: 1px solid #fff;
}

td,
th {
  padding: 5px 20px;
  border: 1px solid #fff;
  font-size: 15px;
}
@media (max-width: 600px) {
  nav{
    height: 10vh;
  }
}
@media (max-width: 640px) {
  main,
  label {
    width: 100%;
    font-size: 30%;
    display: flex;
    flex-wrap: wrap;
  }
  .button.blue{
    width: 100%;
  }
  .button {
    font-weight: 700;
  }
}

/* CSS da página inicial */
.fachada1 {
  width: 100%;
}

.titulo-principal-1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 10em;
  margin: 0 0 1em;
  clear: left;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.principal {
  padding: 3em 0;
  background: #fefefe;
  width: 940px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 0 1em 0;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.casa2 {
  width: 150px;
  float: left;
  margin: 0 20px 20px 0;
}

/* MAPA */
.mapa {
  padding: 3em 0;
  /* background: linear-gradient(#fefefe, #888888); */
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}
/* ACRESCENTADO */
.mapa-conteudo iframe {
  border-radius: 20px;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

/* .beneficios {
  padding: 3em 0;
  background: #888888;
  width:100%;
}

.conteudo-beneficios {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;

}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
} */

.itens {
  line-height: 1.5;
}

.itens:first-child {
  font-weight: bold;
}

.itens:before {
  content: "✭";
  color: rgb(194, 194, 28);
}

/* .imagem-beneficios {
  width: 60%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
  opacity: 0.3;
}
.video {
  width: 500px;
  margin: 2em auto;
} */

/* @media screen and (max-width: 480px) {
  .caixa,
  .principal,
  .conteudo-beneficios,
  .mapa,
  .video {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
  }

  .lista-beneficios,
  .imagem-beneficios {
    width: 100%;
  }
} */
